[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
migrate = "*"
pipenv = "*"
install = "*"
sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
importlib-resources = "*"
flask-restful = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
